    <h1> <%= @employee.first_name %>
    <%= @employee.last_name %> </h1>
    <p><%= @employee.alias %>
    <p><%=@employee.title %>
    <p><%=@employee.office %><br>
    <p><img src="<%= @employee.img_url %>">
     <p><%=@employee.dog.name %>